/* Phan thong tin tu nav-bar den cuoi */
section > .container {
    /* width: 1170px; */
    margin:auto;
    display:block;
 
    padding: 30px 10px;
    line-height: 25px;
 }
 /* muc tieu nghe nghiep-thong tin ca nhan*/

#about {
    padding-top: 30px;
 }
 
 #about .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
 
    margin: 0 30px;
 }
 
 h1 {
    margin-bottom: 30px;
 }
 .info li {
    list-style: none;
 }
 
 ul {
    padding: 0;
    margin-bottom: 30px;
 }
 
 .info span {
    font-weight: bold;
 }